html{font-size: 16px;}
body{font-family: 'Titillium Web', sans-serif;font-size: 16px;}
header{width: 100%;height: 594px;background: #87509c;}
header img, header nav{margin-top: 55px;}
.img-responsive{padding-left: 140px;}
header .nav-link{color: #fff;border-radius: 5px;}
header .nav-link:hover, header .active{background: #643a79;}
header h1{color: #fff;font-size: 2.6rem; font-weight: bold;}
.bottom_header{height: 445px; display:flex; align-items: center;flex-direction: column;
justify-content: center;}
.bottom_header > a{background-color:rgb(235,125,75); border:0px; font-size: 14px; padding: 12px 60px 12px 60px; box-shadow: 0px 3px 1px rgba(195,110,71,1); margin-top:30px;}
.bottom_header > a:hover{ background-color: rgba(250,110,71,.9);}
.Services{margin-top: -20px; width: 100%;height: 749px;background: #17c2a4;color: #fff;}
.Services .bar{margin-top: 10px; width: 60px; height: 4px; background-color:#15af94;}
.Services h2{font-weight: 600; letter-spacing: 1.5px;}
.items{ margin-top: -120px; padding: 10px 10px 10px 10px; cursor: pointer; transition: 300ms;}
.items h2{margin-top: 60px; text-align: center; font-size: 20px;}
.items h6{margin-top: 15px; text-align: center; font-size: 14px; font-weight: 100; line-height: 20px; }
.items:hover{margin-top: -130px; box-shadow: 0px 0px 20px 0px #000; background-color:rgba(15,103,250,0.1); border-radius: 15px;}


/*Meet*/
.Meet{
  background-color: #e7f1f8;
  height: 900px;
}
.Meet h2{
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  color: #3c4761;
}
.Meet h4{
  color: #3c4761;
  text-align: center;
  font-size:1.2em;
	font-weight:400;
	width:70%;
	margin:0 auto;
}
.Meet .bar{
  margin-top: 25px;
  width: 85px;
  height: 4px;
  background-color:#c8d9e5;
}
.profile{
  margin-top: 80px;
  margin-bottom: 50px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-color: #878787;
}

.list h3{
  font-size:1.4em;
 	color:#3c4761;
 	text-align:center;
 	font-weight:500;
 	text-transform:uppercase;
 	-webkit-text-stroke:2px;
 	letter-spacing:1px;
 	margin-top:10px;
}

.list h5{
  font-size:1em;
  font-weight: 400;
 color:#30bae7;
 	text-align:center;
}
.list p{
	font-size:1em;
	color:#3c4761;
	text-align: center;
	margin: 0 auto;
	padding:10px 0;
	line-height:1.6em;
  width: 90%;
}
.Meet .ajuste{
  margin-left: 30px;
}
.Meet .ajuste1{
  margin-left: 50px;
}
.Meet .ajuste2{
  margin-left: 50px;
}
.Meet .ajuste3{
  margin-left: 60px;
}
.Meet .socialmedia{
  float: left;
  margin-left: 10px;
  background-color: #bdd1df;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.wrapper{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    overflow:hidden;
}

/*WeGotSkills*/

.skills {
	background-color: #ffffff;
	font-family: 'Titillium Web', sans-serif;
	color: #3c4761;
	text-align: center;
  padding-top: 35px;

}

.skills h1{

	color: #3c4761;
	font-size: 40px;
	font-weight: 700;
	line-height: 29.907px;
	padding-top: 35px;
  text-align: center;
}
 .skills hr{
	border: 4px solid rgba(0, 0, 0, 0.15);
	width: 87px;
	background-color: #dfe8ed;
}


.skills p{
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}

.skills ul{
	padding: 55px 0;
}

.skills li{
	list-style-type: none;
	display: inline-block;
	margin: 0 35px;
}

/*OurPortofolio*/
/*.portfolio{
	background-color: #ffdd99;
	font-family: 'Titillium Web', sans-serif;
	color: #393939;
	text-align:center;
	margin-top: -33px;

}

.portfolio h1{
	font-size:40px;
	font-weight: 700;
	line-height: 29.907px;
	padding-top:35px;
}

.portfolio hr{
	border: 4px solid rgba(0, 0, 0, 0.15);
	width: 87px;
	background-color: #e5c37f;
}

.portfolio p{
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}

.portfolio button:nth-child(1){
	width: 84px;
	height: 38px;
	background-color: rgba(0, 0, 0, 0.08);
	border: 3px solid #ffdd99;
	border-radius: 4px;
	font-size: 18px;
	font-weight: 400;
	color: #393939;
	line-height: 19.5px;
	cursor: pointer;
	text-align:center;
	margin: 0 520px;

}

.portfolio button:nth-child(1):hover{
	background-color: #ffffff;
}

.project_type ul{
	text-align:center;
}

.project_type li{
	list-style-type: none;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.08);
	border: 3px solid #ffdd99;
	width: 84px;
	height: 38px;
	margin-bottom: 25px;
}

.project_type li a{
	text-decoration:none;
	color:#393939;
	line-height:19.5px;
	font-weight:400;
	font-size:18px;
	}

.project_type li:hover{
	background-color:#ffffff;
}

.portfolio .works li {
	list-style-type: none;
	display:inline-block;
}

.portfolio .works p{
	color:#393939;
	font-size: 18px;
	font-weight: 400;
	line-height: 19.5px;
}

.portfolio button{
	color:#ffffff;
	font-size: 13.4px;
	font-weight:600;
	line-height:19.5px;
	background-color: #17c2a4;
	border-radius: 4px;
	border: solid #17c2a4;
	margin-bottom: 80px;

}
/**/

.portfolio{
	background-color: #ffdd99 !important;
	font-family: 'Titillium Web', sans-serif;
	color: #393939;
	text-align:center;
	margin-top: -33px;

}

.portfolio h1{
	font-size:40px;
	font-weight: 700;
	line-height: 29.907px;
	padding-top:35px;
}

.portfolio hr#style4{
	border: 4px solid rgba(0, 0, 0, 0.15);
	width: 87px;
	background-color: #e5c37f;
}

.portfolio p{
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}

.portfolio button:nth-child(1){
	width: 84px;
	height: 38px;
	background-color: rgba(0, 0, 0, 0.08);
	border: 3px solid #ffdd99;
	border-radius: 4px;
	font-size: 18px;
	font-weight: 400;
	color: #393939;
	line-height: 19.5px;
	cursor: pointer;
	text-align:center;
	margin: 0 520px;

}

.portfolio button:nth-child(1):hover{
	background-color: #ffffff;
}

.project_type ul{
	text-align:center;
}

.project_type li{
	list-style-type:none;
	display:inline-block;
	background-color: rgba(0, 0, 0, 0.08);
	border: 3px solid #ffdd99;
	width: 84px;
	height: 38px;
	margin-bottom: 25px;
}

.project_type li a{
	text-decoration:none;
	color:#393939;
	line-height:19.5px;
	font-weight:400;
	font-size:18px;
	}

.project_type li:hover{
	background-color:#ffffff;
}

.works li {
	list-style-type: none;
	display:inline-block;
}

.works p{
	color:#393939;
	font-size: 18px;
	font-weight: 400;
	line-height: 19.5px;
}


.portfolio button{
	color:#ffffff;
	font-size: 13.4px;
	font-weight:600;
	line-height:19.5px;
	background-color: #17c2a4;
	border-radius: 4px;
	border: solid #17c2a4;
	margin-bottom: 80px;



}

.Meet .socialmedia img{
  margin-left: -7px;
}
